project:
  type: book
  output-dir: docs

book:
  title: "A Biggner's Guide to Probability Theory"
  author: "Seoncheol Park"
  date: "7/30/2023"
  chapters:
    - index.qmd
    - intro.qmd
    - prob.qmd
    - rvs.qmd
    - conv.qmd
    - lln.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt
    mainfont: "Noto Sans KR"
    include-in-header: 
      - text: |
          \usepackage{kotex}

editor: visual

