project:
  type: book
  output-dir: docs

book:
  title: "A Biggner's Guide to Probability and Extremes"
  author: "Seoncheol Park"
  date: today
  search: true
  downloads: [pdf]
  chapters:
    - part: "Intro"
      chapters:
        - index.qmd
        - intro.qmd
    - part: "Probability"
      chapters:
        - measure.qmd
        - prob.qmd
        - rvs.qmd
        - ineq.qmd
        - conv.qmd
        - lln.qmd
        - clt.qmd
        - lil.qmd
        - limext.qmd
    - part: "Extremes"
      chapters:
        - ev.qmd
        - mev.qmd
    - part: "Intro"
      chapters:
        - summary.qmd
        - references.qmd

bibliography: references.bib

filters:
  - pseudocode

format:
  html:
    theme: cosmo
    include-in-header:
      text: |
        <script>
        MathJax = {
          loader: {
            load: ['[tex]/boldsymbol']
          },
          tex: {
            tags: "all",
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']],
            processEscapes: true,
            processEnvironments: true,
            packages: {
              '[+]': ['boldsymbol']
            }
          }
        };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js" type="text/javascript"></script>
  pdf:
    documentclass: scrreprt
    mainfont: "Noto Sans KR"
    filters:
      - watermark
    watermark:
      text: "Seoncheol Park"
    include-in-header: preamble.tex
    include-before-body:
      text: |
        \renewcommand{\Return}{\State \textbf{return}~}
        \newcommand{\Print}{\State \textbf{print}~}
        \newcommand{\Break}{\State \textbf{break}}
        \newcommand{\Continue}{\State \textbf{continue}}
        \newcommand{\True}{\textbf{true}}
        \newcommand{\False}{\textbf{false}}
        \renewcommand{\And}{\textbf{and}~}
        \newcommand{\Or}{\textbf{or}~}
        \renewcommand{\Not}{\textbf{not}~}
        \newcommand{\To}{\textbf{to}~}
        \newcommand{\DownTo}{\textbf{downto}~}

editor: visual

